USE [master]
GO
/****** Object:  Database [HOTEL_MANAGER]    Script Date: 4/7/2018 2:51:07 PM ******/
CREATE DATABASE [HOTEL_MANAGER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOTEL_MANAGER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HOTEL_MANAGER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOTEL_MANAGER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HOTEL_MANAGER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOTEL_MANAGER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOTEL_MANAGER]
GO
USE [HOTEL_MANAGER]
GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[MaCTHD] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaPT] [int] NOT NULL,
	[SoNgayThue] [int] NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_PHIEUTHUE]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_PHIEUTHUE](
	[MaCTPT] [int] NOT NULL,
	[MaPT] [int] NOT NULL,
	[MaKhachHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHU]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHU](
	[MaDT] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[MaLoaiPhong] [int] NOT NULL,
	[DoanhThu] [money] NULL,
	[TyLe] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[TriGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[MaLoaiKhachHang] [int] NOT NULL,
	[CMND] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_KHACHHANG]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_KHACHHANG](
	[MaLoaiKhachHang] [int] NOT NULL,
	[TenLoaiKhachHang] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_PHONG]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_PHONG](
	[MaLoaiPhong] [int] NOT NULL,
	[TenLoaiPhong] [nvarchar](30) NOT NULL,
	[DonGia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUEPHONG]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUEPHONG](
	[MaPT] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[TinhTrangThanhToan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [int] NOT NULL,
	[TenPhong] [nvarchar](30) NOT NULL,
	[MaLoaiPhong] [int] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TinhTrangPhong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TenThamSo] [nvarchar](20) NULL,
	[GiaTri] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANG_THAI_PHONG]    Script Date: 4/7/2018 2:51:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANG_THAI_PHONG](
	[TinhTrangPhong] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TinhTrangPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HOADON] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  DEFAULT (datepart(month,getdate())) FOR [Thang]
GO
ALTER TABLE [dbo].[DOANHTHU] ADD  DEFAULT (datepart(year,getdate())) FOR [Nam]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'chua ghi ten') FOR [TenKhachHang]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'chua dat ten') FOR [TenKhachHang]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'chua them dia chi') FOR [DiaChi]
GO
ALTER TABLE [dbo].[LOAI_KHACHHANG] ADD  DEFAULT (N'chua dat ten') FOR [TenLoaiKhachHang]
GO
ALTER TABLE [dbo].[LOAI_PHONG] ADD  DEFAULT (N'chua dat ten') FOR [TenLoaiPhong]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] ADD  DEFAULT (getdate()) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] ADD  DEFAULT ((0)) FOR [TinhTrangThanhToan]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'chua dat ten') FOR [TenPhong]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'chua co ghi chu') FOR [GhiChu]
GO
ALTER TABLE [dbo].[TRANG_THAI_PHONG] ADD  DEFAULT ((1)) FOR [TinhTrangPhong]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHIEUTHUEPHONG] ([MaPT])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUTHUE]  WITH CHECK ADD FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHIEUTHUEPHONG] ([MaPT])
GO
ALTER TABLE [dbo].[CHITIET_PHIEUTHUE]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DOANHTHU]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAI_PHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MaLoaiKhachHang])
REFERENCES [dbo].[LOAI_KHACHHANG] ([MaLoaiKhachHang])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAI_PHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([TinhTrangPhong])
REFERENCES [dbo].[TRANG_THAI_PHONG] ([TinhTrangPhong])
GO
USE [master]
GO
